:root {
    --lilac: #C8A2C8;
    --white: #fff;
    --red: #e63c3c;
    --regularFont: #000;
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--regularFont);
}
a:hover{
    color: inherit;
}
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
.row{
    width: 100%;
}
/* 
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif; 
*/

/* nav bar css 
--------------------------------*/
.navbar-container{
    background-color: var(--white);
    justify-content: center;
    max-height: 5em;
    margin: none;
}
.nav-logo{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.navbar-items{
    flex-direction: row;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    column-gap:1em;
    min-height: 4em;
}
.navbar-items li{
    padding: 0.3em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    background-image: linear-gradient(90deg, var(--red), var(--red));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 700ms ease;
    font-family: 'Montserrat', sans-serif;
}

.navbar-items li:hover{
    cursor: pointer;
    color:var(--red) !important;
    cursor:pointer;
    background-size: 100% 2px;
}
.navbar-items li:first-child{
    left:0;
    position: relative;
    background-image: none;
}
.navbar-items li:last-child{
    background-image: none;
}
.nav-logo{
    height: 3.75em;
    width: auto;
}
.register-button{
    background-color: var(--red);
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: 00.45em;
    padding-bottom: 0.45em;
    border-radius: 8px;
    text-decoration: none;
    color: var(--white);
}

.register-button:hover{
    color: var(--regularFont);
    background-color: var(--white);
}

.dropdown{
    position: absolute;
}